# Node.js (Frontend - Next.js)
node_modules/
out/
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore lock files
yarn.lock
pnpm-lock.yaml

# VS Code files
.vscode/

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
npm-debug.log*

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
*.lcov

# Build output
out
dist

# Database files
*.sqlite
*.sqlite3

# MacOS files
.DS_Store

# Linux files
*~

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo


.dockerignore

# AWS Elastic Beanstalk
.elasticbeanstalk/
.ebextensions/
.aws/

# Backend - Java Spring Boot (Maven)
target/
*.war
*.jar
.mvn/
*.iml
*.ipr
*.iws
*.class
*.project
*.settings/
*.factorypath

# Logs and temp files
logs/
*.log
*.tmp
hs_err_pid*
dump.rdb
*.hprof

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.project
.classpath
.settings/

# JetBrains Rider
.idea/
*.sln.iml

# Gradle
.gradle
build/

# Linux/Mac system files
*.DS_Store
*.vscode
Thumbs.db
